<h1>Cars#show</h1>
<p>Find me in app/views/cars/show.html.erb</p>


<%= simple_form_for [@car, @appointment] do |a| %>

<%= a.input :date %>
<%= a.input :description, label: "descripción" %>
<%= a.input :location, label: "ubicación" %>
<%= a.button :submit  %>

  <% end %>
